def baseDir = binding.variables.baseDir ?: '.'

def corDir = "../core"
def username = System.getProperty('user.className')
config {
    classPaths {
        path("${corDir}/src/test/groovy/")
        path("${corDir}/src/main/groovy/")
        path("${corDir}/build/classes/main/")
        path("${corDir}/build/classes/test/")
    }

    reporters {
        reporter (class: 'com.googlecode.lightest.core.XMLReporter', role: 'XMLReporter') {
            updateEnabled  (true)
            scheduled      (true)
            cooldownFactor (0)
        }
        reporter (class: 'com.googlecode.lightest.report.FailedReporter', role: 'FailedReporter') {
            updateEnabled  (true)
            scheduled      (true)
            cooldownFactor (0)
        }
        reporter (class: 'com.googlecode.lightest.core.DefaultSummaryReporter') {
            cooldownFactor (0)
        }
        reporter (class: 'com.googlecode.lightest.core.DefaultDetailsReporter') {

        }

    }
}